In [8]:
from dask.distributed import Client
client = Client("tcp://172.31.36.115:8786")
print(client)

<Client: 'tcp://172.31.36.115:8786' processes=8 threads=10, memory=27.01 GiB>

In [9]:
import dask.dataframe as dd 
import time 
# loading data using pandas df 
df = dd.read_csv("https://raw.githubusercontent.com/redashu/Datasets/refs/heads/master/advertising.csv")
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [11]:
# using shufflling and check time to process this data 
start_time = time.time()
result1 = df.groupby('TV')['Sales'].mean().compute()
end_time = time.time()
# print timers 
print(f"Time take with Shuffling : {end_time - start_time:.4f} seconds")
print(result1)

Time take with Shuffling : 0.0670 seconds
TV
0.7       1.6
4.1       3.2
5.4       5.3
7.3       5.5
7.8       6.6
         ...
289.7    25.4
290.7    17.8
292.9    21.4
293.6    20.7
296.4    23.8
Name: Sales, Length: 190, dtype: float64

In [10]:
# without shuffling 
start_time1 = time.time()
df_sorted = df.set_index('TV', sorted=True)
result2 = df_sorted.groupby('TV')['Sales'].mean().compute()
end_time1 = time.time()
# print timers 
print(f"Time take with Shuffling : {end_time1 - start_time1:.4f} seconds")
print(result2)

Time take with Shuffling : 0.1086 seconds
TV
0.7       1.6
4.1       3.2
5.4       5.3
7.3       5.5
7.8       6.6
         ...
289.7    25.4
290.7    17.8
292.9    21.4
293.6    20.7
296.4    23.8
Name: Sales, Length: 190, dtype: float64